{% extends "base.html.twig" %}
{% block body %}
 <div class="container">
  <h1 class="h1">Update Profile</h1>
  {{form_start(form)}}
  {{form_widget(form)}}
   <button name="" type="submit" id="" class="btn btn-primary" href="#" role="button">Update Profile</button>
  {{form_end(form)}}
 </div>
{% endblock %}