{% extends "base.html.twig" %}
{% block body %}
    
    <div class="container">
       {{form_start(form)}}
       {{form_widget(form)}}
          <button name="" type="submit" id="" class="btn btn-primary" href="#" role="button">Register</button>
       {{form_end(form)}}
    </div>

{% endblock %}