{% extends "admin/base.html.twig" %}

{% block title %}admin edit ad
{% endblock %}

{% block body %}
 {{form_start(form)}}
 {{form_widget(form)}}
 	<button name="" type="submit" id="" class="btn btn-primary" href="#" role="button">edit</button>
 {{form_end(form)}}
{% endblock %}