{% extends 'base.html.twig' %}

{% block header  %}{% endblock header %}
{% block body %}
	<div class="container">
		<div class="jumbotron  my-3">
			<h1 class="display-3">Hello, world!</h1>
			<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</p>
		</div>

		<h2 class="h2">OUER ADS</h2>

		<div class="row">
		      {% for data in ads %}
				  
			{% include "shared/_ad.html.twig" with {'ad':data.ad} %}
			  {% endfor %}
			</div>
			
		

	</div>

{% endblock body %}
